# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Editor specific files
.idea/
.vscode/
*.swo
*.swp
*~

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
# yarn.lock

# Python
.coverage
.hypothesis/
.nox/
.pytest_cache/
.tox/
__pycache__/
*.egg-info/
*.py[cod]
*$py.class
htmlcov/

# Ruby
/.config
/InstalledFiles
/pkg/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
*.gem
*.rbc
/coverage/

# Java
*.class
*.jar
*.log
*.nar
*.war
*.zip
*.tar.gz
*.ear
hs_err_pid*

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.pid.lock
*.seed
pids

# Cursor specific
.cursor/workspace/

# claude.code specific
.claude/
CLAUDE.md

# Compiled output
/bazel-out
/dist
/out-tsc
/tmp

# IDEs and editors
.c9/
.classpath
.launch
.project
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/*

# Yarn
# yarn.lock
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Firebase
.firebase
*-debug.log
.env
.runtimeconfig.json

# Miscellaneous
/.angular/cache
/connect.lock
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# lock
/pnpm-lock.yaml
# /yarn.lock

/delon-builds

.angular
