<nz-layout style="height:100vh;">
  <nz-sider nzCollapsible [nzCollapsed]="leftPanelCollapsed" (nzCollapsedChange)="onLeftPanelCollapse($event)" [nzWidth]="300">
    <div style="padding:16px;">
      <nz-input-group [nzSuffix]="suffixIcon">
        <input nz-input placeholder="搜尋節點" [(ngModel)]="searchValue" (ngModelChange)="onSearchChange($event)" />
      </nz-input-group>
      <ng-template #suffixIcon>
        <nz-icon nzType="search"></nz-icon>
      </ng-template>
    </div>
    <nz-tree
      nzBlockNode
      nzDraggable
      [nzData]="(treeData$ | async) ?? []"
      [nzSearchValue]="searchValue"
      (nzClick)="activeNode($event)"
      (nzDblClick)="openFolder($event)"
      (nzOnDrop)="onDrop($event)"
      (contextmenu)="onPanelContextMenu($event)">
    </nz-tree>
    <nz-dropdown-menu #rootMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="addRootNode()">新增根節點</li>
      </ul>
    </nz-dropdown-menu>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="addNode()">新增節點</li>
        <li *ngIf="contextNode" nz-menu-item (click)="addTask()">新增任務</li>
        <li *ngIf="contextNode" nz-menu-item (click)="editNode()">編輯節點</li>
        <li *ngIf="contextNode" nz-menu-item (click)="deleteNode()">刪除節點</li>
      </ul>
    </nz-dropdown-menu>
  </nz-sider>
  <nz-content>
    <div style="padding:24px;">
      <nz-descriptions *ngIf="selectedNodeForDetail$ | async as selectedNode; else noNodeSelected" nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="名稱">{{ selectedNode.title }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="類型">
          <nz-tag [nzColor]="getTypeColor(selectedNode.type)">{{ getTypeLabel(selectedNode.type) }}</nz-tag>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="狀態" *ngIf="selectedNode.status">
          <nz-tag [nzColor]="getStatusColor(selectedNode.status)">{{ selectedNode.status }}</nz-tag>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="建立時間" *ngIf="selectedNode.createdAt">{{ selectedNode.createdAt | date:'short' }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="更新時間" *ngIf="selectedNode.updatedAt">{{ selectedNode.updatedAt | date:'short' }}</nz-descriptions-item>
      </nz-descriptions>
      <ng-template #noNodeSelected>
        <nz-empty nzNotFoundContent="請選擇一個節點查看詳情"></nz-empty>
      </ng-template>
      <div style="margin-top:24px;">
        <nz-list [nzDataSource]="getRelatedTasks((selectedNodeForDetail$ | async)?.id)" nzSize="small">
          <ng-template #item let-task>
            <nz-list-item [nzActions]="[editAction, deleteAction]">
              <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <span [class]="'task-title task-' + (task.taskStatus || 'pending')">{{ task.title }}</span>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  建立於 {{ task.createdAt | date:'short' }}
                </nz-list-item-meta-description>
              </nz-list-item-meta>
              <nz-tag [nzColor]="getTaskStatusColor(task.taskStatus || 'pending')">{{ getTaskStatusLabel(task.taskStatus || 'pending') }}</nz-tag>
              <ng-template #editAction>
                <button nz-button nzType="link" nzSize="small" (click)="onEditNodeRequested(task)">編輯</button>
              </ng-template>
              <ng-template #deleteAction>
                <button nz-button nzType="link" nzSize="small" nzDanger (click)="deleteNode()">刪除</button>
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </div>
  </nz-content>
</nz-layout>
